.form {
  width: 600px;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  width: 200px;
  margin-bottom: 20px;
}
.submit_button {
  width: 100px;
  padding: 5px;
}
